body {
	background-color: #fff;
	margin: 0;
	text-align: center;
}

#buttons {
	display: none;
}

textarea, input {
	-webkit-appearance: none;
	font-size: 18px;
}

textarea {
	margin: 2rem auto;
	width: 18rem;
	height: 25rem;
	padding: 0.25rem;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", sans-serif;
	line-height: 1.25rem;
	color: #111;
	background-color: #fafafa;
	border: none;
	border-top: 1rem solid #004080;
	border-radius: 0;
	box-shadow: 0 0 0.33rem #aaa;
	overflow: scroll;
}

textarea:hover {
	box-shadow: 0 0 0.33rem #888;
}

textarea:focus {
	outline: none;
	box-shadow: 0 0 0.33rem #444;
}

input[type=button] {
	background-color: #fff;
	color: #004080;
	line-height: 1rem;
	font-weight: 700;
	border-radius: 0.75rem;
	border: 0.2rem solid #004080;
	padding: 0.5rem 1.75rem;
	margin: 0 1.5rem;
}

input[type=button]:active {
	background-color: #eee;
}

@media only screen and (max-width: 736px) {
	html, body {
		height: 100%;
	}

	textarea {
		width: 90%;
		max-width: 20rem;
		height: 75%;
		max-height: 33rem;
	}

}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #000;
	}

	textarea {
		color: #ddd;
		background-color: #1e1e1e;
		box-shadow: 0 0 0.25rem #777;
	}

	textarea:hover {
		box-shadow: 0 0 0.25rem #999;
	}

	textarea:focus {
		box-shadow: 0 0 0.25rem #ccc;
	}

	input[type=button] {
		color: #ddd;
		background-color: #000;
		border-color: #ddd;
	}

	input[type=button]:active {
		background-color: #1e1e1e;
	}
}
