body {
	background-color: #fff;
	margin: 0;
	text-align: center;
}

#buttons {
	display: none;
}

textarea, input {
	-webkit-appearance: none;
}

textarea {
	margin: 36px auto;
	width: 300px;
	height: 450px;
	padding: 4px;
	font: 18px / 22px -apple-system, BlinkMacSystemFont, roboto, sans-serif;
	color: #111;
	background-color: #fafafa;
	border: none;
	border-top: 18px solid #004080;
	border-radius: 0;
	box-shadow: 0 0 6px #aaa;
	overflow: scroll;
}

textarea:hover {
	box-shadow: 0 0 6px #888;
}

textarea:focus {
	outline: none;
	box-shadow: 0 0 6px #444;
}

input[type=button] {
	background-color: #fff;
	color: #004080;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	border-radius: 12px;
	border: 2px solid #004080;
	padding: 6px 24px;
	margin: 0 24px;
}

input[type=button]:active {
	background-color: #fafafa;
}

@media only screen and (max-width: 736px) {
	html, body {
		height: 100%;
	}

	textarea {
		width: 90%;
		max-width: 400px;
		height: 75%;
		max-height: 600px;
	}

}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #000;
	}

	textarea {
		color: #ddd;
		background-color: #1e1e1e;
		box-shadow: 0 0 4px #777;
	}

	textarea:hover {
		box-shadow: 0 0 4px #999;
	}

	textarea:focus {
		box-shadow: 0 0 4px #ccc;
	}

	input[type=button] {
		color: #ddd;
		background-color: #000;
		border-color: #ddd;
	}

	input[type=button]:active {
		background-color: #1e1e1e;
	}
}
